.form{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 4s ease-in-out;
}
.form:hover{
    text-align: center;
    margin: 2em;
    color:rgb(255, 255,255);
    font-size: 1.2em;
}
.field{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow:inset 2px 5px 10px rgb(5,5,5);
}
.input-field{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}